<?xml version="1.0"?>
<launch>
    <arg name="world" default="$(eval env('PWD') + '/package_delivery.world')"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
        <arg name="paused" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <arg name="ID" value="0"/>
    <arg name="est" default="ekf2"/>

    <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
    <include file="$(find drone_wrapper)/launch/single_vehicle_spawn_sdf.launch">
        <arg name="model" value="typhoon_h480_dual_cam"/>
        <arg name="model_name" value="typhoon_h480_dual_cam"/>
        <arg name="mavlink_udp_port" value="14560"/>
        <arg name="mavlink_tcp_port" value="4560"/>
        <arg name="ID" value="$(arg ID)"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
        <arg name="tgt_component" value="1"/>
    </include>
</launch>