{% extends "exercise_base.html" %}
{% load static %}
<!-- Cargamos los archivos estaticos -->
{% block content %}


<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner">
					<div class="modal-header">
						<h5>Controls</h5>
					</div>
					<div class="modal-body" style="display: flex">
						<div>
							<ul>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/submit.png' %}"
											style="width: 30px; height: 30px;">
										<p>- Execute your code</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/pause.png' %}"
											style="width: 30px; height: 30px;">
										<p>- Pause the simulation</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/upload.png' %}"
											style="width: 30px; height: 30px;">
										<p> - Save your code on the cloud</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/reset.svg' %}"
											style="width: 30px; height: 30px;">
										<p>- Reset the simulation</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/gazebo.svg' %}"
											style="width: 30px; height: 30px;">
										<p>- Open gzweb</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<img src="{% static 'common/img/console.png' %}"
											style="width: 30px; height: 30px;">
										<p style="padding-left: 12px;">- Open terminal</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row" style="margin-top: 20px">
										<p><strong>Brain Frecuency:</strong>&nbspadjusts the running frecuency of the
											code</p>
									</div>
								</li>
								<li>
									<div class="d-flex flex-row">
										<p><strong>GUI Frecuency:</strong>&nbspadjusts the running frecuency of the GUI
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="errorModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-header-text" style="font-weight: 700;"></p>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="white-space: pre-wrap;">
				<p style="word-wrap: break-word;"></p>
			</div>
		</div>
	</div>
</div>

<div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/ComputerVision/3d_reconstruction"
		id="iframe-tab"></iframe>
</div>




<div class="content" id="exercise-view">
	<div class="split a">

		<br>
		<div class="score justify-content-center">
			<div id="score-number" style="text-align: center;">
				<p style="padding: 10px; border: 2px solid black;">Score: 0</p>
			</div>
		</div>

		<br>
		<div class="col-md-12 justify-content-center">
			<div id="code-control">
				<!-- Code Editor -->
				<!-- Along with buttons -->
				<div id="code_container">
					<input type="button" id="aug_font" onclick="setFontSize(true)" value="+" />
					<input type="button" id="red_font" onclick="setFontSize(false)" value="-" />
					<div id="editor">from GUI import GUI
						from HAL import HAL
						# Enter sequential codee!

						while True:
						# Enter iterative code!
					</div>

				</div>
				<div id="myModal" class="modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Enter a filename</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="md-form ml-0 mr-0">
									<input type="text" id="form29" class="form-control form-control-sm validate ml-0">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" onclick="downloadFile()">Download</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="split b">

		<div id="visual">

			<body>
				<div id="descarga"></div>
				<div class="odometry-frame-scope"
					style="display: flex;align-content: stretch;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: flex-start; max-height: 200px;">
					<img src="/static/exercises/assets/kitti/dataset/sequences/01/image_0/000000.png"
						class="odometry-frame" id="odometry-frame"
						style="max-width: 100%; max-height: 200px; margin: auto; display: block;">
				</div>

				<br>
				<div id="canvas" align="center" style="max-width: 100%; height: 70vh; margin: auto; display: block;">
				</div>
			</body>

			<!-- Canvas -->
			<canvas id="gui_canvas"></canvas>
		</div>

		<iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>

		<script type="text/javascript">
			var exercise = "visual_odometry_3D";

			function changeconsole() {
				var console_display = document.getElementById('console-vnc').style.display
				console.log(console_display)
				if (console_display == "none" || console_display == "none") {
					setIframeConsole();
					document.getElementById('console-vnc').style.display = 'block';
				} else {
					document.getElementById('console-vnc').style.display = 'none';
				}
			}

			function changegzweb() {
				toggleGazebo();
				var display = document.getElementById('iframe').style.display
				console.log(display)
				if (display == "none" || display == "none") {
					document.getElementById('iframe').style.display = 'block';
					setIframe();
				} else {
					document.getElementById('iframe').style.display = 'none';
				}
			}

			function toggleSubmitButton(toggle) {
				let submit_button = document.getElementById("loadIntoRobot");
				if (toggle == false) {
					submit_button.disabled = true;
					submit_button.style.opacity = "0.4";
					submit_button.style.cursor = "not-allowed";
					showLoadModal();
				} else {
					submit_button.disabled = false;
					submit_button.style.opacity = "1.0";
					submit_button.style.cursor = "default";
					hideLoadModal();
				}
			}

			function toggleResetButton(toggle) {
				let reset_button = document.getElementById("reset");
				if (toggle == false) {
					reset_button.disabled = true;
					reset_button.style.opacity = "0.4";
					reset_button.style.cursor = "not-allowed";
				} else {
					reset_button.disabled = false;
					reset_button.style.opacity = "1.0";
					reset_button.style.cursor = "default";
				}
			}

			function togglePlayPause(stop) {
				let submit_button = document.getElementById("submit");
				if (stop) {
					submit_button.getElementsByTagName('img')[0].src = "{% static 'common/img/pause.png''%}";
					submit_button.getElementsByTagName('p')[0].innerText = " Stop";
					submit_button.setAttribute("onClick", "javascript: stop();");
				} else {
					submit_button.getElementsByTagName('img')[0].src = "{% static 'common/img/submit.png'%}";
					submit_button.getElementsByTagName('p')[0].innerText = " Play";
					submit_button.setAttribute("onClick", "javascript: start();");
				}
			}

			function enablePlayPause(enable) {
				let playPause_button = document.getElementById("submit");
				if (enable == false) {
					playPause_button.disabled = true;
					playPause_button.style.opacity = "0.4";
					playPause_button.style.cursor = "not-allowed";
				} else if (firstCodeSent == true) {
					playPause_button.disabled = false;
					playPause_button.style.opacity = "1.0";
					playPause_button.style.cursor = "default";
				}
			}

			function enableSimControls() {
				let reset_button = document.getElementById("reset");
				if (resetRequested == true) {
					togglePlayPause(false);
				}
				enablePlayPause(true);
				toggleResetButton(true);
			}

			function setFontSize(augm) {
				if (augm) {
					if (editorele.getFontSize() < 70)
						editorele.setFontSize(editorele.getFontSize() + 1);
				} else {
					if (editorele.getFontSize() > 2)
						editorele.setFontSize(editorele.getFontSize() - 1);
				}
			}
		</script>
	</div>

	<script src="https://unpkg.com/split.js/dist/split.min.js"></script>

	<script>
		Split(['.a', '.b'], {
			gutterSize: 3,
			sizes: [50, 50]
		});
		window.addEventListener('load', function () {
			window.top.postMessage('connect', '*');
		})
	</script>

	<!-- Common -->
	<script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript"
		charset="utf-8"></script>


	<script src="{% static 'common/js/controller.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/js/launcher.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'common/js/ws_code.js' %}" type="text/javascript" charset="utf-8"></script>

	<!-- Exercise specific resources -->
	<script src="{% static 'exercises/visual_odometry_3D/js/ws_gui.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/three.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/OrbitControls.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/OBJLoader.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/ColladaLoader.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/utils/CBuffer.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/vehicles/frame.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/3DViz.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/pose3d.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src="{% static 'exercises/visual_odometry_3D/3DScene/3d_scene.js' %}" type="text/javascript"
		charset="utf-8"></script>
	<script src='https://huningxin.github.io/opencv.js/build/asm.js/opencv.js' async></script>

	<!-- BOTON DE CONEXION CON RADI-->
	<script>
		window.onload = function () {
			webGLStart();
			startSim(0);
			$("#connection-button").prop('disabled', true);
		}
		window.onbeforeunload = function () {
			startSim(2);
		}
		$(document).ready(function () {
			$("#launch-button").click(
				function () {
					if ($("#launch-button").attr('class') == 'btn btn-secondary' && $("#connection-button").attr('class') == 'btn btn-success') {
						$("#launch-button").prop('disabled', true);
						$("#launch-button").removeClass('btn-secondary').addClass('btn-warning');
						$("#launch-button").html('<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Launching');
						startSim(1);
					}
					else if ($("#connection-button").attr('class') == 'btn btn-secondary') {
						alert("A connection with the manager must be established before launching an exercise");
					}
				});
		});
		$(document).ready(function () {
			$("#connection-button").click(
				function () {
					if ($("#connection-button").attr('class') == 'btn btn-secondary') {
						$("#connection-button").prop('disabled', true);
						$("#connection-button").removeClass('btn-secondary').addClass('btn-warning');
						$("#connection-button").html('<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Connecting');
						startSim(0);
					}
				});
		});
		function connectionUpdate(data) {
			if (data.connection == 'manager') {
				if (data.command == 'up') {
					$("#connection-button").removeClass("btn-warning btn-secondary").addClass("btn-success");
					$("#connection-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Connected');
					$("#connection-button").prop('disabled', true);
					$("#launch-button").prop('disabled', false);
				} else if (data.command == 'down') {
					$("#connection-button").removeClass("btn-success btn-warning").addClass("btn-secondary");
					$("#connection-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Connect');
					$("#connection-button").prop('disabled', false);
					if (websocket_code != null)
						websocket_code.close();
					if (websocket_gui != null)
						websocket_gui.close();
					$("#launch-button").removeClass("btn-success btn-warning").addClass("btn-secondary");
					$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Launch');
				}
			} else if (data.connection == 'exercise') {
				if (data.command == 'available') {
					$("#launch-button").removeClass('btn-secondary').addClass('btn-secondary');
				} else if (data.command == 'up') {
					stop();
					$("#launch-button").removeClass("btn-warning").addClass("btn-success");
					$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Ready');
					$("#launch-button").prop('disabled', true);
					togglePlayPause(false);
					let reset_button = document.getElementById("reset");
					reset_button.disabled = false;
					reset_button.style.opacity = "1.0";
					reset_button.style.cursor = "default";
					let load_button = document.getElementById("loadIntoRobot");
					load_button.disabled = false;
					load_button.style.opacity = "1.0";
					load_button.style.cursor = "default";
				} else if (data.command == 'down') {
					$("#launch-button").removeClass("btn-success").addClass("btn-secondary");
					$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Launch');
					$("#launch-button").prop('disabled', false);
				} else if (data.command == 'launch_level') {
					let level = data.level;
					$("#launch-button").html(`<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Launching <a id="launch_level">${level}</a>`);
				} else if (data.command == 'error') {
					$('#errorModal .modal-header .modal-header-text').text("Errors detected:");
					$('#errorModal .modal-body').text(data.text);
					$('#errorModal').modal({ show: true, backdrop: false });
					$('#errorModal .modal-dialog').draggable({});
					toggleSubmitButton(true);
				}
				else if (data.command == 'style') {
					$('#errorModal .modal-header .modal-header-text').text("Style evaluation:");
					if (data.text.replace(/\s/g, '').length)
						$('#errorModal .modal-body').text(data.text);
					else
						$('#errorModal .modal-body').text("Everything is correct!");
					$('#errorModal').modal({ show: true, backdrop: false });
					$('#errorModal .modal-dialog').draggable({});
				}
			}
		}
	</script>

	<script type="text/javascript">
		const editorele = ace.edit("editor");
		function downloadCode() {
			downloaded_code = downloadUserCode('{{exercise}}');
		}
		function showUserCode(downloaded_code) {
			if (downloaded_code != "") {
				code = downloaded_code.replace(/&quot;/g, '"').replace(/&#39;/g, "'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=").replace(/\n/g, "\n");
				editorele.setValue(code);
			}
		}
	</script>

	<script>
		editorele.getSession().on('change', function () {
			editorChanged(true);
		});

		function editorChanged(toggle) {
			if (firstCodeSent) {
				if (toggle) {
					document.getElementById("loadIntoRobotAlert").style.display = 'inline-block';
					document.getElementById("loadIntoRobot").title = "Code changed since last sending";
				} else {
					document.getElementById("loadIntoRobotAlert").style.display = 'none';
					document.getElementById("loadIntoRobot").title = "";
				}
			}
		}
	</script>

	{% if user_code|length > 0 %}

	<script type="text/javascript">
		code = "{{user_code}}".replace(/&quot;/g, '"').replace(/&#39;/g, "'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=");
		console.log(code);
		editorele.setValue(code)
	</script>

	{% endif %}

</div>

{% endblock %}