.test-exercise-manager {
    border: 1px solid #c0c0c0;
    padding: 8px 32px;
    margin: 32px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}