.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 8px 8px;
}

.flex-container-column {
    flex-direction: column;
}

.flex-container-row {
    flex-direction: row;
}

.flex-container-first,
.flex-container-last {
    display: inline;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-container-last {
    flex-shrink: 1;
}

.flex-container-first > *,
.flex-container-last > * {
    margin: 0!important;
    padding: 0!important;
}

.flex-container-divider {
    background-color: #f0f0f0;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-column > .flex-container-divider {
    height: 8px;
    cursor: ns-resize;
    flex-direction: row;
}

.flex-container-column > .flex-container-first {
    height: 50%;
}

.flex-container-row > .flex-container-divider {
    width: 8px;
    cursor: ew-resize;
    flex-direction: column;
}

.flex-container-row > .flex-container-first {
    width: 50%;
}
