.MuiToolbar-root.exercise-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    border: 2px solid #d3d3d3;
    padding: 0;
}

#robot-control {

}