#f1-car {
  position: absolute;
  width: 61px;
  height: 146px;
  bottom: 54px;
  left: calc(50% - 30.5px);
  z-index: 4;
}

.laser-beam {
  position: absolute;
  background: repeating-linear-gradient(
    to right,
    rgb(112, 138, 255),
    rgb(112, 138, 255) 73px,
    rgb(100, 198, 255) 73px,
    rgb(100, 198, 255) 146px
  );
  background-size: 100% 1px;
  bottom: 180px;
  left: 50%;
  transform-origin: 0% 0%;
  z-index: 3;
}

.arrow {
  position: absolute;
  z-index: 5;
  width: 36px;
  bottom: 190px;
  left: calc(50% - 18px);
  transform-origin: center bottom;
}

.green {
  filter: invert(82%) sepia(13%) saturate(6762%) hue-rotate(39deg) brightness(105%) contrast(107%);
}

.red {
  filter: invert(13%) sepia(87%) saturate(6390%) hue-rotate(343deg) brightness(91%) contrast(89%);
}

.target-container {
  position: absolute;
  z-index: 4;
  width: 40px;
  bottom: 190px;
  left: calc(50% - 20px);
  transform-origin: center bottom;
}

#target {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
  width: 40px;
  height: 40px;
}

#target::before,
#target::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 6px; /* cross thickness */
    border-radius: 6px;
    background-color: yellow;
}

#target::before {
    transform: rotate(45deg);
}

#target::after {
    transform: rotate(-45deg);
}