#f1-car {
  position: absolute;
  width: 50px;
  height: 100px;
  bottom: 10px;
  left: calc(50% - 25px);
  z-index: 4;
}

.laser-beam {
  position: absolute;
  background: repeating-linear-gradient(
    to right,
    rgb(112, 138, 255),
    rgb(112, 138, 255) 73px,
    rgb(100, 198, 255) 73px,
    rgb(100, 198, 255) 146px
  );
  background-size: 100% 1px;
  bottom: 90px;
  left: 50%;
  transform-origin: 0% 0%;
  z-index: 3;
}

.arrow {
  position: absolute;
  z-index: 5;
  width: 36px;
  bottom: 100px;
  left: calc(50% - 18px);
  transform-origin: center bottom;
}

.green {
  filter: invert(82%) sepia(13%) saturate(6762%) hue-rotate(39deg) brightness(105%) contrast(107%);
}

.red {
  filter: invert(13%) sepia(87%) saturate(6390%) hue-rotate(343deg) brightness(91%) contrast(89%);
}