#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    height: 350px;
    width: 400px;
}

#gzweb{
    height: 40%;
    width:100%;
}

#local-map{
	margin-top: 15px;
	background: #0D488A;
	height: 500px;
	width: 500px;
}
