{% extends exercise_base %}
{% load static %}
<!-- Cargamos los archivos estaticos -->
{% block content %}

<div id="theory-view" style="display: none;">
  <iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/ComputerVision/dl_digit_classifier" id="iframe-tab"></iframe>
</div>

<div class="content" id="exercise-view">
  <div class="split a" style="width: calc(50% - 1.5px);">
    <div id="code-control">
      <!-- Button for selecting DL model -->
      <div id="file_selector">
        <h5 id="file_selector_heading">Choose a deep learning model (ONNX format):</h5>
        <input type="file" id="dl_model" name="dl_model" accept=".onnx">
      </div>
    </div>
  </div>

  <div class="split b" style="width: calc(50% - 1.5px);">
    <div id="visual">
      <!-- Canvas -->
      <h3 style="text-align:center" id="output_heading">Digit Classifier</h3>
      <canvas id="gui_canvas"></canvas>

      <script type="text/javascript">
        function changeconsole() {
          document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
          var console_display = document.getElementById('console').style.display;
          console.log(console_display);
          if (console_display == "none" || console_display == "none") {
            document.getElementById('console').style.display = 'block';
          } else {
            document.getElementById('console').style.display = 'none';
          }
        }

        function start() {
          submitCode();
        }
      </script>
    </div>
    <div id="editor" style="visibility: hidden"></div>
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
    <script>
      var exercise = "dl_digit_classifier";

      Split(['.a', '.b'], {
        gutterSize: 3,
        sizes: [50, 50]
      });
      window.addEventListener('load', function() {
        window.top.postMessage('connect', '*');
      });
    </script>
  </div>
  <!-- Common -->
  <script src='https://huningxin.github.io/opencv.js/build/asm.js/opencv.js' async></script>
    <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'common/js/launcher_no_gazebo.js' %}" type="text/javascript" charset="utf-8"></script>
  <!-- Exercise specific resources -->
    {% for file in statics %}

        <script src="{% static 'exercises/'%}{{ exercise_id }}/js/{{ file }}" type="text/javascript" charset="utf-8"></script>

    {% endfor %}

  <!-- BOTON DE CONEXION CON RADI-->
  {% if "connect_button" in indexs %}
  {% include 'connect_button.html' %}
  {% endif %}
</div>

{% endblock %}
