#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    padding-top: 15px;
    padding-right: 10px;
    height: 400px;
    width: 400px;
    float: left;
}


#gzweb{
    height: 40%;
    width:100%;
}

#lap_heading{
    padding-left: 10%;
}

#lap_time{
    padding-left: 10%;
}


#local-map{
	margin-top: 15px;
	background: #0D488A;
	height: 420px;
	width: 400px;
}
