.exercise-canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid #d3d3d3; */
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#vehic-pos {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(200, 0, 0);
  border: 1px solid black;
  z-index: 4;
  transition: left 0.1s ease-out, top 0.1s ease-out
}

.lifting {
  border: 2px solid rgb(0, 255, 0) !important;
}

.lifting-ack {
  border: 4px solid rgb(0, 255, 0) !important;
}

#vehic-pos-ack {
  position: absolute;
  width: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: #817f7c;
  border: 3px solid rgb(255 152 0);
  z-index: 4;
  transition: left 0.1s ease-out, top 0.1s ease-out
}

.arrow{
  position:relative;
  width:20px;
  height: 20px;
  cursor:pointer;
/*   border:solid 1px white; */
  transition: left 0.1s ease-out, top 0.1s ease-out;
  overflow:hidden;
  z-index: 4;
  margin-left: -10px;
}

.arrow:after{
  position:absolute;
  display:block;
  content:"";
  color:rgb(0, 0, 0);
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-5px;
  border-bottom:solid 2px;
  transform:translatex(4px);
}

.arrow:before{
  position:absolute;
  display:block;
  content:"";
  color:rgb(0, 0, 0);
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 2px;
  border-left:solid 2px;
  top:9px;
  left:1px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);
}

.target {
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 3;
}

.target::before,
.target::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px; /* cross thickness */
    border-radius: 6px;
    background-color: blue;
}

.target::before {
    transform: rotate(45deg);
}

.target::after {
    transform: rotate(-45deg);
}

.arrow-ack{
    margin-top: 40px;
    margin-left: -2px;
    transform: rotate(-90deg);
}