<?xml version='1.0' encoding='UTF-8'?>
<!--
Summary: 
========

This launch file loads the world and models for the autoparking_v2 exercise.
-->


<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="updateRate" default="20.0"/>
  <arg name="debug" default="false"/>
  <arg name="obstaclestopper" default="false"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="/RoboticsAcademy/exercises/static/exercises/autoparking_v2/autoparking.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <group ns="catvehicle">
  <param name="robot_description"
          command="$(find xacro)/xacro '$(find catvehicle)/urdf/catvehicle.xacro' roboname:='catvehicle' updateRate:='$(arg updateRate)'" />
  <include file="$(find catvehicle)/launch/catvehicle.launch">
      <arg name="robot_name" value="catvehicle"/>
      <arg name="init_pose" value="-x -7 -y 2 -z 0.1"/>
      <arg name="config_file" value="catvehicle_control.yaml"/>
      <arg name="obstaclestopper" value="$(arg obstaclestopper)"/>
  </include>

</group>
</launch>
