{% extends 'base.html' %}

{% load static %}
{% block content %}

<div id="code-control">
    <!-- Code Editor -->
    <!-- Along with buttons -->
    <div id="code_container">
        <div id="editor">from GUI import GUI
from HAL import HAL
# Enter sequential code!

while True:
    # Enter iterative code!
        </div>
    </div>
</div>

</div>

<div class="split b">
    <div id="fwdKinematics" class="toolbar">
        <span style="font-size: 22px;">Forward Kinematics</span>
        <button id="turtlebot_play_btn" type="button">Update</button>
        <span>Joint 1 <input type="range" name="Joint 1" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <span>Joint 1 <input type="range" name="Joint 2" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <span>Joint 1 <input type="range" name="Joint 3" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <span>Joint 1 <input type="range" name="Joint 4" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <span>Joint 1 <input type="range" name="Joint 5" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <span>Joint 1 <input type="range" name="Joint 6" max="165" min="-165" value="0.0" class="slider" style="margin-top: 26px;"></span>
        <!-- <button id="turtlebot_play_btn" type="button" onclick="playturtlebot()">Play Turtlebot</button>
        <button id="turtlebot_stop_btn" type="button" onclick="stopturtlebot()">Pause Turtlebot</button>
        <button id="turtlebot_reset_btn" type="button" onclick="resetturtlebot()">Reset Turtlebot</button> -->
    </div>
    <div id="invKinematics" class="toolbar">
        <h5>Inverse Kinematics</h5>
        <button id="turtlebot_play_btn" type="button">Update</button>
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
        <input type="text" name="x" id="input_text" style="margin-top: 15px;">
    </div>
    <div id="visual">
        <!-- Canvas -->
        <canvas id="gui_canvas_left"></canvas>
        <canvas id="gui_canvas_right"></canvas>
    </div>
    <iframe id="console" style="display:none;" src="" width="100%" height="50%"></iframe>
    <iframe id="iframeGzweb" style="display:none;" src="" width="100%" height="50%" ></iframe>
    <script type="text/javascript">
        function changeconsole(){            
            var console_display = document.getElementById('console').style.display
            document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
            console.log(console_display)
            if (console_display == "none") {
                document.getElementById('console').style.display = 'block';
            } else{
                document.getElementById('console').style.display = 'none';
            }
        }
        function changegzweb(){
            document.getElementById("iframeGzweb").setAttribute("src", "http://" + websocket_address + ":6080/vnc.html?resize=remote&autoconnect=true");
            var display = document.getElementById('iframeGzweb').style.display
            console.log(display)
            if (display == "none") {
                document.getElementById('iframeGzweb').style.display = 'block';
            } else{
                document.getElementById('iframeGzweb').style.display = 'none';
            }
        }
    </script>
</div>
</div>

<script src="https://unpkg.com/split.js/dist/split.min.js"></script>
<script>
    Split(['.a', '.b'], {
        gutterSize: 3,
        sizes: [50,50]
    });
</script>

<script src="{% static 'exercises/pick_place/web-template/ace-builds/src-noconflict/ace.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/pick_place/web-template/assets/websocket_address.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/assets/js/utils.js' %}?v={{SYS_VERSION}}"></script>
<script src="{% static 'exercises/pick_place/web-template/assets/launcher.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/pick_place/web-template/assets/ws_code.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/pick_place/web-template/assets/ws_gui.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/pick_place/web-template/assets/local_functions.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>

{% endblock %}