h4{
    float:right;
    padding: 10%;
}

#Console{
    background-color: black;
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 200px;
    color: white;
    overflow: scroll;
}
#Console ul{
	list-style-type: none;
	padding-left: 5px;
}

.terminal{
	width: 20px;
	background-color: black;
	border-style: none;
	color: white;
}

.command{
	margin-left: 5px;
	width: 90%;
	border-style: none;
	background-color: black;
	color: white;
}

#console-vnc {
	width: 100%;
	height: 200px;
	overflow: scroll;
}