#right{
    padding-left:1px;
    padding-top:5px;
    background-color: #ddd;
  }

  time{
      margin-left: 10px;
  }

  #visual_buttons{
    text-align: center;
    align-items: center;
    display: inline-block;
    margin: auto;
  }

  #editor{
      border: 1px solid lightgray;
      height: 500px;
      width: 97%;
  }

  .navigation-bar{
      width: 100%;
      height: 30px;
      background-color: white;
      margin-bottom: 2px;
      font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
      font-weight: bold;
      font-size: 15px;
  }

  .navigation-bar .header{
      padding-top: 2px;
      padding-left: 0px;
  }

  .logo{
      display: inline-block;
      vertical-align: top;
      height: 80%;
      margin-right: 2%;
      padding-top: 2px;
  }


  #Control{
    vertical-align:middle;
    text-align:center;
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
    margin: 15px auto;
    margin-left: 20px;
  }

  .btn_img{
      height: 25px;
  }
  #evaluate_img{
      height: 15px;

  }

  #evaluator_img{
    height: 22px;
  }
  
  #submit{
    font-size: 12px;
      width: 80px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 10px;
  }

  #load{
    font-size: 12px;
      width: 110px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 10px;
  }

  #loadIntoRobot{
    font-size: 12px;
    width: 130px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-right: 10px;
    margin-left: 60px;
  }

  #stop{
     font-size: 12px;
      width: 80px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 10px;

  }

  #save{
    font-size: 12px;
      width: 110px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 10px;
  }

  #reset{

    font-size: 12px;
      width: 80px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 50px;
}

  #evaluate, #eval_button {
    margin-bottom: 10px;
    font-size: 12px;
      width:110px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 50px;
  }

  #aug_font {
    position: absolute;
    width: 22px;
    left: 40px;
    top: 94%;
    z-index: 1000;
    background-color: rgb(136, 136, 136);
  }
  #red_font {
    position: absolute;
    width: 22px;
    left: 17px;
    top: 94%;
    z-index: 1000;
    background-color: rgb(136, 136, 136);
  }

  #efficacy {
    margin-bottom: 10px;
    font-size: 12px;
      width:160px;
      height: 40px;
      border: none;
      background-color: whitesmoke;
      margin-right: 10px;
  }

  #gazebo_button{
    font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-right: 10px;
}

#console_button{
    font-size: 12px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-right: 10px;
}

#grid_button{
  font-size: 12px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: whitesmoke;
  margin-right: 10px;
}
  
#teleop_button{
	font-size: 12px;
	width: 100px;
	height: 40px;
	border: none;
	background-color: whitesmoke;
	margin-right: 10px;
}
  
#reset:hover, #submit:hover, #load:hover, #load:hover, #stop:hover, #save:hover, #evaluate:hover, #loadIntoRobot:hover, #teleop_button:hover, #gazebo_button:hover, #console_button:hover, #efficacy:hover{

    border: 1.5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

  #letters{
    margin-top:8px;
    margin-right:10px;
    width: 80px;
    height: 40px;
}

#real_time_factor{
    margin-top:8px;
    width: 20px;
    height: 40px;
}

input[type=number]{
    width: 40px;
    background-color: whitesmoke;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

#code_freq, #gui_freq, #sim_rtf{
    height: 40px;
    border:none;
}

#table_code_freq, #table_gui_freq{
  height:40px;
  width:210px;
  margin-right:30px;
}


#ideal_code_frequency, #code_frequency{
    display:inline-block;
    margin-right:10px;
    white-space: pre-wrap;
}

#Medidor_Brain{
  width:210px;
  height:42px;
  background-color: whitesmoke;
  margin-right:10px;
}

#Medidor_GUI{
  width:190px;
  height:42px;
  background-color: whitesmoke;
  margin-right:50px;
}

#Medidor_RTF{
  width:100px;
  height:42px;
  background-color: whitesmoke;
  margin-right:50px;
}

  #terminalimg {
      height: 20px;
  }


  #iframeGzweb{
      display:none;
  }
  #iframe{
      display:none;
  }

  #iframe-gz{
    display:none;
    height: 500;
  }

  #iframe-tab{
    display: block;
    align-self: center;
    border: none;
    width: 100%;
    height: 85vh;
  }

  th, td{
      padding-left: 0px;
  }
  #frecuency_control{
    margin-left: 5%;
  }

  .debug{
   padding-left: 7%;
  }
