{% extends 'base_teleop.html' %}

{% load static %}
{% block content %}



<div id="code-control">
    <br>
    <!-- Code Editor -->
    <!-- Along with buttons -->
    <div id="code_container">
        <div id="editor">from GUI import GUI
from HAL import HAL
# Enter sequential code!

while True:
    # Enter iterative code!
        </div>


    </div>
</div>

</div>
<div class="split b">

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p><b>Errors detected:</b></p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="white-space: pre-wrap;">
              <p style="word-wrap: break-word;"></p>
            </div>
          </div>
        </div>
      </div>
      
        <!-- Circuit selector -->
        <label for="circuit_selector" style="display: inline-block;">Circuit: </label>
        <select class="form-control" style="display: inline-block; margin-bottom: 10px; width: auto;" name="circuit_selector" id="circuit_selector">
            <option value="default">Default Line</option>
            <option value="montmelo">Montmelo Line</option>
            <option value="montreal">Montreal Line</option>
            <option value="nbg">Nürburgring Line</option>
        </select>
    <div id="visual_buttons" class="row no-gutters">
        <div id="lap_heading">Lap Time <img src="{% static 'exercises/follow_line/web-template/assets/img/stopwatch-solid.svg' %}"><span id="lap_time"></span> </div>
    </div>
    <div id="visual">
        <!-- Canvas -->
        <canvas id="birds-eye"></canvas>
        <img id="gui_canvas"></img>
        <!--<iframe src="" id="gzweb"></iframe>
 <h3 id="lap_heading">Lap Time</h3>
    <h4 id="lap_time"></h4>-->
    </div>
    <iframe id="console" style="display:none;" src="" width="100%" height="50%"></iframe>
    <iframe id="iframeGzweb" style="display:none;" src="" width="100%" height="50%" ></iframe>
    <script type="text/javascript">
        function changeconsole(){
            document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
            var console_display = document.getElementById('console').style.display
            console.log(console_display)
            if (console_display == "none") {
                document.getElementById('console').style.display = 'block';
            } else{
                document.getElementById('console').style.display = 'none';
            }
        }
        function changegzweb(){
            toggleGazebo();
            document.getElementById("iframeGzweb").setAttribute("src", "http://" + websocket_address + ":6080/vnc.html?resize=remote&autoconnect=true");
            var display = document.getElementById('iframeGzweb').style.display
            console.log(display)
            if (display == "none") {
                document.getElementById('iframeGzweb').style.display = 'block';
            } else{
                document.getElementById('iframeGzweb').style.display = 'none';
            }
        }
    </script>
</div>
</div>
<script src="https://unpkg.com/split.js/dist/split.min.js"></script>
<script>
    var exercise = "follow_line";

  Split(['.a', '.b'], {
    gutterSize: 3,
    sizes: [50,50]
  });
    window.addEventListener('load', function () {
        window.top.postMessage('connect', '*');
    })
</script>

<!-- Teleoperate mode script -->
<script>
    'use strict';

    // Teleop variable
    let teleop_mode = false;
    // Teleop button
    const teleop_btn = document.querySelector('#teleop_button');
    const teleop_img = document.querySelector('#teleop_img');

    teleop_btn.addEventListener('click', function(){
        // If variable is false, activate teleoperate mode
        if(!teleop_mode){
            if (running == false) {
                resumeSimulation();
                running == true;
            }
            // Activate mode
            teleop_mode = true;
            teleop_img.src = "{% static 'exercises/follow_line/web-template/assets/img/joystick_on.png' %}";
            document.addEventListener('keydown', keyHandler, false);
			document.addEventListener('keyup', keyHandler, false);
			return;
        }

        // Else, turn of teleop mode and remove event listeners
        teleop_mode = false;
        submitCode();
        teleop_img.src = "{% static 'exercises/follow_line/web-template/assets/img/joystick_off.png' %}";
        document.removeEventListener('keydown', keyHandler, false);
		document.removeEventListener('keyup', keyHandler, false);
		return;
    });

    function deactivateTeleopButton() {
        teleop_mode = false;
        teleop_img.src = "{% static 'exercises/follow_line/web-template/assets/img/joystick_off.png' %}";
        document.removeEventListener('keydown', keyHandler, false);
		document.removeEventListener('keyup', keyHandler, false);
    }

    // Car variables
    let v = 0;
    let w = 0;

    // Event Handlers for controls
    function keyHandler(event) {
        // Right (39), Left (37), Down (40), Up (38)
        
        // First check if websocket_gui_guest and websocket_code_guest are defined
        if((typeof(websocket_gui) !== 'undefined' && (typeof(websocket_code) !== 'undefined'))){
            let cmd = "#tele";

            // Prevent using arrow keys to scroll page
            if([32, 37, 38, 39, 40].indexOf(event.keyCode) > -1) {
                event.preventDefault();
            }

            if(event.keyCode == 39) {
                //console.log('Right');
                w = (event.type == 'keydown')?-1:0;
            }else if(event.keyCode == 37) {
                //console.log('Left');
                w = (event.type == 'keydown')?1:0;
            }else if(event.keyCode == 40) {
                //console.log('Down');
                v = (event.type == 'keydown')?-2:0;
            }else if(event.keyCode == 38) {
                //console.log('Up');
                v = (event.type == 'keydown')?2:0;
            }
            console.log('v: ', v, 'w: ', w);
        }
    }
</script>

<script src="{% static 'exercises/assets/ace-builds/src-noconflict/ace.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/assets/js/utils.js' %}?v={{SYS_VERSION}}"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/websocket_address.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/launcher.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/ws_code_teleop.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/ws_gui.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/controller.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/local_functions.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/follow_line/web-template/assets/birds_eye.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>

<!-- Circuit selector js -->
<script src="{% static 'exercises/follow_line/web-template/assets/circuit_selector.js' %}?v={{version}}"></script>
{% endblock %}