/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default; // #f1f1f1
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
/* $primary-color: #0092ca !default; */
$primary-color: #02C02E !default;
$border-color: mix(#fff, #393e46, 75%) !default;
/* $footer-background-color: $primary-color !default; */
$footer-background-color: #02C02E !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  // color: #fff !important; // override
  color: #222831 !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
