#real-pos {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: left 0.1s ease-out, top 0.1s ease-out;
  left: 0;
}

#noisy-pos {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: left 0.1s ease-out, top 0.1s ease-out;
  left: 0;
}
