{% extends 'base.html' %}

{% load static %}
{% block content %}

<div id="code-control">
    <!-- Code Editor -->
    <!-- Along with buttons -->
    <div id="code_container">
        <div id="editor">from GUI import GUI
from HAL import HAL
# Enter sequential code!


while True:
    # Enter iterative code!
    currentTarget = GUI.map.getNextTarget()
    GUI.map.targetx = currentTarget.getPose().x
    GUI.map.targety = currentTarget.getPose().y
        </div>
    </div>
</div>

</div>
<div class="split b">
    
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p><b>Errors detected:</b></p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="white-space: pre-wrap;">
              <p style="word-wrap: break-word;"></p>
            </div>
          </div>
        </div>
      </div>

    <div id="visual_buttons" class="row no-gutters">
        <div id="lap_heading">Lap Time <img src="{% static 'exercises/obstacle_avoidance/web-template/assets/img/stopwatch-solid.svg' %}"><span id="lap_time"></span> </div>
    </div>
    <div id="visual">
        <!-- Canvas -->
        <img id="gui_canvas"></img>
        <!--<iframe src="" id="gzweb"></iframe>-->
        <canvas id="local-map"></canvas>
    </div>
    <iframe id="console" style="display:none;" src="" width="100%" height="50%"></iframe>

    <iframe id="iframeGzweb" style="display:none;" src="" width="100%" height="50%" ></iframe>
    <script type="text/javascript">
        function changeconsole(){
            document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
            var console_display = document.getElementById('console').style.display
            console.log(console_display)
            if (console_display == "none" || console_display == "none" ) {
                document.getElementById('console').style.display = 'block';
            } else{
                document.getElementById('console').style.display = 'none';
            }
        }
        function changegzweb(){
            toggleGazebo();
            document.getElementById("iframeGzweb").setAttribute("src", "http://" + websocket_address + ":6080/vnc.html?resize=remote&autoconnect=true")
            var display = document.getElementById('iframeGzweb').style.display
            console.log(display)
            if (display == "none" || display == "none" ) {
                document.getElementById('iframeGzweb').style.display = 'block';
            } else{
                document.getElementById('iframeGzweb').style.display = 'none';
            }
        }
    </script>
</div>
</div>
<script src="https://unpkg.com/split.js/dist/split.min.js"></script>
<script>
    var exercise = "obstacle_avoidance";

    Split(['.a', '.b'], {
        gutterSize: 3,
        sizes: [50,50]
    });
    window.addEventListener('load', function () {
        window.top.postMessage('connect', '*');
    });
</script>

<script src="{% static 'exercises/assets/ace-builds/src-noconflict/ace.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/assets/js/utils.js' %}?v={{SYS_VERSION}}"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/websocket_address.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/launcher.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/ws_code.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/map_view.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/ws_gui.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/controller.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'exercises/obstacle_avoidance/web-template/assets/local_functions.js' %}?v={{SYS_VERSION}}" type="text/javascript" charset="utf-8"></script>

{% endblock %}