<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="$(find jderobot_assets)/worlds/iris_follow_turtlebot.world"/>
    <arg name="solution_file_name" default="$(eval env('PWD') + '/my_solution.py')"/>

    <include file="$(find drone_wrapper)/launch/mavros_px4_sitl.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>
    
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find jderobot_assets)/perspectives/drone_and_ground_robot_teleop.perspective"/>
    <node name="my_solution" pkg="drone_wrapper" type="play_python_code" output="screen" args="$(arg solution_file_name)"/>

    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find jderobot_assets)/urdf/turtlebot3_waffle_pi_colored_plate.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

</launch>