.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-details {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

/* Tooltip arrow */
.tooltip-details::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip-details {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
