<div class="col-md-12 justify-content-center">
		<div id="code-control">
			<!-- Code Editor -->
			<!-- Along with buttons -->
			<div id="code_container">
			<input type="button" id="aug_font" onclick="setFontSize(true)" value="+" />
			<input type="button" id="red_font" onclick="setFontSize(false)" value="-" />
			<div id="editor">from GUI import GUI
from HAL import HAL
# Enter sequential code!

while True:
    # Enter iterative code!</div>

			</div>
			<div id="myModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Enter a filename</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			<div class="md-form ml-0 mr-0">
				<input  type="text" id="form29" class="form-control form-control-sm validate ml-0">
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-primary" onclick="downloadFile()">Download</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		</div>
			</div>
	</div>