    <script>
	window.onload = function() {

                {% if exercise_base == "exercise_base_2_U.html" %}
                    <!-- codigo unibotics unicamente -->
                    startSim(0, "{{websocket_address}}","{{server}}", "{{user.username}}");
                {% else %}
                    <!-- codigo robotics unicamente -->
                    startSim(0);
                {% endif %}

		$("#connection-button").prop('disabled', true);
	}
	window.onbeforeunload = function() {
		startSim(2);
	}
	$(document).ready(function() {$("#launch-button").click(
            function () {

				if ($("#launch-button").attr('class') == 'btn btn-secondary' && $("#connection-button").attr('class') == 'btn btn-success') {
					$("#launch-button").prop('disabled', true);
					$("#launch-button").removeClass('btn-secondary').addClass('btn-warning');
					$("#launch-button").html('<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Launching');
					startSim(1);
				} 
				else if ($("#connection-button").attr('class') == 'btn btn-secondary') {
					alert("A connection with the manager must be established before launching an exercise");
				}
			});
        });
	$(document).ready(function() {$("#connection-button").click(
		function () {
			if ($("#connection-button").attr('class') == 'btn btn-secondary') {
				$("#connection-button").prop('disabled', true);
				$("#connection-button").removeClass('btn-secondary').addClass('btn-warning');
				$("#connection-button").html('<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Connecting');

                {% if exercise_base == "exercise_base_2_U.html" %}
                    <!-- codigo unibotics unicamente -->
                    startSim(0, "{{websocket_address}}","{{server}}", "{{user.username}}");
                {% else %}
                    <!-- codigo robotics unicamente -->
                    startSim(0);
                {% endif %}
			}
		});
	});
	function connectionUpdate(data){
		if (data.connection == 'manager') {
			if (data.command == 'up') {
				$("#connection-button").removeClass("btn-warning btn-secondary").addClass("btn-success");
				$("#connection-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Connected');
				$("#connection-button").prop('disabled', true);
				$("#launch-button").prop('disabled', false);
			}else if (data.command == 'down'){
				$("#connection-button").removeClass("btn-success btn-warning").addClass("btn-secondary");
				$("#connection-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Connect');
				$("#connection-button").prop('disabled', false);
				if (websocket_code != null)
						websocket_code.close();					
					if (websocket_gui != null)
						websocket_gui.close();
					$("#launch-button").removeClass("btn-success btn-warning").addClass("btn-secondary");
					$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Launch');
			}
		} else if (data.connection == 'exercise') {
			if (data.command == 'available') {
				$("#launch-button").removeClass('btn-secondary').addClass('btn-secondary');
			}else if (data.command == 'up') {
				stop();
				$("#launch-button").removeClass("btn-warning").addClass("btn-success");
				$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Ready');
				$("#launch-button").prop('disabled', true);

                {% if "loadIntoRobot_button" in indexs %}
                    togglePlayPause(false);
                    {% else %}
                    let submit_button = document.getElementById("submit");
                    submit_button.disabled = false;
                    submit_button.style.opacity = "1.0";
					submit_button.style.cursor = "default";
                {% endif %}


				let reset_button = document.getElementById("reset");
				reset_button.disabled = false;
				reset_button.style.opacity = "1.0";
				reset_button.style.cursor = "default";
             {% if "loadIntoRobot_button" in indexs %}
                 let load_button = document.getElementById("loadIntoRobot");
				load_button.disabled = false;
				load_button.style.opacity = "1.0";
				load_button.style.cursor = "default";
				{% endif %}

			}else if (data.command == 'down'){
				$("#launch-button").removeClass("btn-success").addClass("btn-secondary");
				$("#launch-button").html('<span id="loading-connection" class="bi bi-arrow-down-up"></span> Launch');
				$("#launch-button").prop('disabled', false);
			}else if (data.command == 'launch_level'){
				let level = data.level;
				$("#launch-button").html(`<span id="loading-connection" class="fa fa-refresh fa-spin"></span> Launching <a id="launch_level">${level}</a>`);
			}else if (data.command == 'error') {
					$('#errorModal .modal-header .modal-header-text').text("Errors detected:");
                    $('#errorModal .modal-body').text(data.text);
                    $('#errorModal').modal({ show:true, backdrop: false});
					$('#errorModal .modal-dialog').draggable({});
					toggleSubmitButton(true);
			}
			else if (data.command == 'style') {
				$('#errorModal .modal-header .modal-header-text').text("Style evaluation:");
				if (data.text.replace(/\s/g, '').length)
					$('#errorModal .modal-body').text(data.text);
				else
					$('#errorModal .modal-body').text("Everything is correct!");
				$('#errorModal').modal({ show:true, backdrop: false});
				$('#errorModal .modal-dialog').draggable({});
			}
		}
	}
    </script>

    	<script type="text/javascript">
		const editorele = ace.edit("editor");
		function downloadCode() {
			downloaded_code = downloadUserCode('{{exercise}}');
		}
		function showUserCode(downloaded_code){
			if (downloaded_code != "") {
				code = downloaded_code.replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=").replace(/\n/g, "\n");
				editorele.setValue(code);
			}
		}
	</script>

	<script>
		editorele.getSession().on('change', function() {
			editorChanged(true);
		});

		function editorChanged(toggle) {
			if (firstCodeSent) {
				if (toggle) {
					document.getElementById("loadIntoRobotAlert").style.display = 'inline-block';

                     {% if "loadIntoRobot_button" in indexs %}
                        document.getElementById("loadIntoRobot").title = "Code changed since last sending";
                         {% else %}
                         document.getElementById("submit").title = "Code changed since last sending";
                     {% endif %}


				} else {
					document.getElementById("loadIntoRobotAlert").style.display = 'none';
                    {% if "loadIntoRobot_button" in indexs %}
                        document.getElementById("loadIntoRobot").title = "";
                        {% else %}
                         document.getElementById("submit").title = "";
				    {% endif %}

				}
			}
		}
	</script>