{% load static %}
<script type="text/javascript">
			 var csrf = '{{ csrf_token }}';

		var exercise = "{{ exercise }}";
        function changeconsole(){
          var console_display = document.getElementById('console-vnc').style.display
          console.log(console_display)
          if (console_display == "none" || console_display == "none" ) {
			  setIframeConsole();
            document.getElementById('console-vnc').style.display = 'block';
          } else{
            document.getElementById('console-vnc').style.display = 'none';
          }
        }
        function changegzweb(){
		  toggleGazebo();
          var display = document.getElementById('iframe').style.display
          console.log(display)
          if (display == "none" || display == "none" ) {
            document.getElementById('iframe').style.display = 'block';
                    setIframe();//////
          } else{
            document.getElementById('iframe').style.display = 'none';
          }
        }

		function toggleSubmitButton(toggle) {
			let submit_button = document.getElementById("loadIntoRobot");
			if (toggle == false) {
				submit_button.disabled = true;
				submit_button.style.opacity = "0.4";
				submit_button.style.cursor = "not-allowed";
				showLoadModal();
			} else {
				submit_button.disabled = false;
				submit_button.style.opacity = "1.0";
				submit_button.style.cursor = "default";
				hideLoadModal();
			}
		}

		function toggleResetButton(toggle) {
		let reset_button = document.getElementById("reset");
		if (toggle == false) {
			reset_button.disabled = true;
			reset_button.style.opacity = "0.4";
			reset_button.style.cursor = "not-allowed";
		} else {
			reset_button.disabled = false;
			reset_button.style.opacity = "1.0";
			reset_button.style.cursor = "default";
		}
	  }

	  function togglePlayPause(stop) {
		let submit_button = document.getElementById("submit");
		if (stop) {
			submit_button.getElementsByTagName('img')[0].src = "{% static 'common/img/pause.png'%}";
			submit_button.getElementsByTagName('p')[0].innerText = " Stop";
			submit_button.setAttribute( "onClick", "javascript: stop();" );
		} else {
			submit_button.getElementsByTagName('img')[0].src = "{% static 'common/img/submit.png'%}";
			submit_button.getElementsByTagName('p')[0].innerText = " Play";
			submit_button.setAttribute( "onClick", "javascript: start();" );
		}
	  }

	  function enablePlayPause(enable) {
		let playPause_button = document.getElementById("submit");
		if (enable == false) {
			playPause_button.disabled = true;
			playPause_button.style.opacity = "0.4";
			playPause_button.style.cursor = "not-allowed";
		} else if (firstCodeSent == true) {
			playPause_button.disabled = false;
			playPause_button.style.opacity = "1.0";
			playPause_button.style.cursor = "default";
		}
	  }

	  function enableSimControls() {
		let reset_button = document.getElementById("reset");
		if (resetRequested == true) {
			togglePlayPause(false);
		}
		enablePlayPause(true);
		toggleResetButton(true);
	  }

		function setFontSize(augm) {
		  if (augm) {
			if (editorele.getFontSize() < 70)
				editorele.setFontSize(editorele.getFontSize()+1);
		  } else {
			if (editorele.getFontSize() > 2)
				editorele.setFontSize(editorele.getFontSize()-1);
		  }
	  }
        </script></div>
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
 <script>

          Split(['.a', '.b'], {
            gutterSize: 3,
            sizes: [50,50]
          });
		  window.addEventListener('load', function () {
        window.top.postMessage('connect', '*');
    })
        </script>