{% load static %}


<div id="load-modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		  <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
		  <div class="carousel-inner">
			  <div class="carousel-item active">
				  
				  <div class="modal-header">
				  	<ul style="display:inline-block; list-style-type: none;">
					  	
					  	<li><h5>Wait some seconds. Your code is being loaded into the robot...</h5><li>
					  	<li><center><img src="{% static 'common/img/loading.gif' %}" style="width:50px; height: 50px;" /></center></li>
					  
				  	</ul>
				  </div>
				  
		
		  	  </div>
		 
		 </div>
	         </div>
	</div>
  </div>
</div>
  <div class="modal" tabindex="-1" role="dialog" id="errorModal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <p class="modal-header-text" style="font-weight: 700;"></p>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" style="white-space: pre-wrap;">
		  <p style="word-wrap: break-word;"></p>
		</div>
	  </div>
	</div>
</div>
