   {% load static %}
{% load i18n %}




            <script>

                // Simulate variable
                let theory_mode = false;
                let code_mode = true;
                let forum_mode = false;
                // Simulate button
                const theory_icon = document.querySelector('#open-theory');
                const code_icon = document.querySelector('#open-exercise');
                const forum_icon = document.querySelector('#open-forum');
                code_icon.style.background = '#28A745';
                theory_icon.style.background = '#6C757D';
                forum_icon.style.background = '#6C757D';

                theory_icon.addEventListener('click', function(){

                    if(!theory_mode){

                        // Activate mode
                        theory_mode = true;
                        code_mode = false;
                        forum_mode = false;
                        theory_icon.style.background = '#28A745';
                        forum_icon.style.background = '#6C757D';
                        code_icon.style.background = '#6C757D';
                        return;
                    }


                });

                code_icon.addEventListener('click', function(){

                    if(!code_mode){

                        // Activate mode
                        code_mode = true;
                        theory_mode = false;
                        forum_mode = false;
                        code_icon.style.background = '#28A745';
                        theory_icon.style.background = '#6C757D';
                        forum_icon.style.background = '#6C757D';
                        return;
                    }


                });


            </script>
        </div>
    </nav>

{% include 'forum.html' %}