{% load static %}
{% load i18n %}

<div class="row col-md-12" id="exercise-controls">
	<div id="Control" style = "margin-top: 3px; margin-bottom: 0px;" class="container">
        <div id="aux">



		<input type="file" id="real-file" hidden="hidden"/>

        {% include 'medidorBrain.html' %}
        {% include 'medidorGUI.html' %}

        {% include 'gazeboButton.html' %}
        {% include 'consoleButton.html' %}
        {% include 'teleopButton.html' %}
		<!--<a id="letters">Sim RTF</a><output id="real_time_factor" style="color:red">0</output><span title="This value is the real time factor of the simulation, it let us know the rate of time in the simulation and real time. As you get closer to 1, the difference between real time and simulation time decreases."></span>-->


    </div>

</div>