#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    height: 350px;
    width: 400px;
    float:right;
}


#gzweb{
    height: 40%;
    width:100%;
}

#lap_heading{
    padding-left: 10%;
}

#lap_time{
    padding-left: 10%;
}

#globalnav-eye{
	background: url("../../exercises/global_navigation/img/globalnav.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}
