{% extends exercise_base %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% block content %}


  <div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/MobileRobots/laser_mapping" id="iframe-tab"></iframe>
  </div>


    <!-- codigo unibotics unicamente -->
    {% if exercise_base == "exercise_base_2_U.html" %}
        {% include "laser_mapping_2/teleopInstructions.html" %}
    {% endif %}

		<!--<a id="letters">Sim RTF</a><output id="real_time_factor" style="color:red">0</output><span title="This value is the real time factor of the simulation, it let us know the rate of time in the simulation and real time. As you get closer to 1, the difference between real time and simulation time decreases."></span>-->
	</div>
</div>

        <div class="content" id="exercise-view">
            <div class="split a">

	<br>
                {% if "code_control" in indexs %}
                {% include 'code_control.html' %}
            {% endif %}
  </div>
            <div class="split b">


                {% if "visualization" in indexs %}
               <div id="visual">
                    <!-- Canvas -->
                    <canvas id="birds-eye-mapping"></canvas>
                    <!-- <div id="mapping"> -->
                    <canvas id="mapping" style="display: none;"></canvas>
                    <!-- </div> -->
                    <!-- <canvas id="gui_canvas"></canvas> -->
                </div>

            {% endif %}

				 <br>
			   <iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>

            {% if "console" in indexs %}
                {% include 'console_no_gazebo.html' with exercise="laser_mapping" %}
            {% endif %}

                {% if exercise_base == "exercise_base_2_U.html" %}
                    <!-- codigo unibotics unicamente -->
                    <!-- Common -->
                   <script src="{% static 'unibotics-exercises/static/assets/common/js/utils.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                   <script src="{% static 'unibotics-exercises/static/assets/common/js/setIframe.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                   <script src="{% static 'unibotics-exercises/static/assets/common/js/ace-builds/src-noconflict/ace.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                   <script src="{% static 'unibotics-exercises/static/assets/common/js/local_functions.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>

                     <script>
                        var csrf = '{{ csrf_token }}';
                        function intervalSave(verbose = true) {
                            saveCodeUnibotics('{{exercise}}', verbose);
                        }
                        var saving = setInterval(intervalSave, 300000);
                    </script>

                    {% for file in statics %}

                        <script src="{% static 'unibotics-exercises/static/assets/exercises/'%}{{ exercise_id }}/js/{{ file }}" type="text/javascript" charset="utf-8"></script>

                    {% endfor %}

                {% else %}
                    <!-- codigo robotics unicamente -->

                      <!-- Common -->
                      <script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
                      <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
                      <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
                      <script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
                      <script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>

                      <!-- Exercise specific resources -->
                     {% for file in statics %}
                            <script src="{% static 'exercises/'%}{{ exercise_id }}/js/{{ file }}" type="text/javascript" charset="utf-8"></script>
                        {% endfor %}


                {% endif %}



    <!--- Teleoperate mode script -->
            {% if "teleop_script" in indexs %}
                {% include 'teleop_script.html'%}
            {% endif %}

    <!-- BOTON DE CONEXION CON RADI-->
    {% if "connect_button" in indexs %}
        {% include 'connect_button.html' %}
    {% endif %}

    {% if user_code|length > 0 %}

    <script type="text/javascript">
		code = "{{user_code}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/, ">").replace(/&lt;/, "<")
		console.log(code);
        editor.setValue(code)
    </script>

    {% endif %}

                </div>
        </div>

{% endblock %}
