#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    height: 350px;
    width: 400px;
    float:right;
}


#gzweb{
    height: 40%;
    width:100%;
}

#lap_heading{
    padding-left: 10%;
}

#lap_time{
    padding-left: 10%;
}

#birds-eye{
    margin-top: 15px;
    background: url("./img/cityLargeBin.png");
    background-size : cover;
    height: 440px;
    width: 450px;
}
