{% extends "exercise_base_2.html" %}
{% load static %}
{% load i18n %}
{% block content %}

  <div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/MobileRobots/{{ exercise_id }}" id="iframe-tab"></iframe>
</div>
<div class="content" id="exercise-view">
  <div class="split a">
		{% if "code_control" in indexs %}
				{% include 'code_control.html' %}
		{% endif %}
	</div>

  <div class="split b">
		{% if "visualization" in indexs %}
	      {% include 'visualization.html' with canvas="vacuum-eye" %}
	  {% endif %}

	  {% if "gazebo" in indexs %}
	    {% include 'gazebo.html' %}
	  {% endif %}

		{% if "console" in indexs %}
			{% include 'console.html' with exercise="vacuum_cleaner_loc" %}
		{% endif %}

    <!-- Common -->
    <script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/ws_code.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'common/js/controller.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/launcher.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- Exercise specific resources -->
		{% for file in statics %}
				<script src="{% static 'exercises/'%}vacuum_cleaner_loc/js/{{ file }}" type="text/javascript" charset="utf-8"></script>
		 {% endfor %}

    <!-- BOTON DE CONEXION CON RADI-->
		{% if "connect_button" in indexs %}
       {% include 'connect_button.html' %}
    {% endif %}

	<script type="text/javascript">
		const editorele = ace.edit("editor");
		function showUserCode(downloaded_code){
			if (downloaded_code != "") {
				code = downloaded_code.replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=").replace(/\n/g, "\n");
				editorele.setValue(code);
			}
		}
	</script>

	<script>
		function editorChanged(toggle) {
			if (firstCodeSent) {
				if (toggle) {
					document.getElementById("loadIntoRobotAlert").style.display = 'inline-block';
					document.getElementById("loadIntoRobot").title = "Code changed since last sending";
				} else {
					document.getElementById("loadIntoRobotAlert").style.display = 'none';
					document.getElementById("loadIntoRobot").title = "";
				}
			}
		}
	</script>
</div>

{% endblock %}
