.hidden,
.visible {
  transition: opacity 0.3s ease;
  display: flex;
  gap: 5px;
  padding-left: 25px;
  padding-right: 5px;
  color: blue;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
  
}