#birds-eye{
	background: url("../../static/exercises/follow_line_react/img/map.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}

#birds-eye.default{
	background: url("../../static/exercises/follow_line_react/img/map.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}

#birds-eye.montreal{
	background: url("../../static/exercises/follow_line_react/img/montreal.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}

#birds-eye.montmelo{
	background: url("../../static/exercises/follow_line_react/img/montmelo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}

#birds-eye.nbg{
	background: url("../../static/exercises/follow_line_react/img/nbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
}