<?xml version="1.0"?>

<model>
  <name>CityMedium</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Samuek Rey</name>
    <email>samuel.rey.escudero@gmail.com</email>
  </author>

  <description>
    A medium city for navigation algorithm.
  </description>
</model>