#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    height: 350px;
    width: 400px;
    float:right;
}


#gzweb{
    height: 40%;
    width:100%;
}

#lap_heading{
    padding-left: 10%;
}

#lap_time{
    padding-left: 10%;
}

/*
#birds-eye{
    background: url("./img/map.jpg");
    height: 350px;
    width: 340px;
}
*/

#birds-eye{
	background: url("./img/map.jpg");
	background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

#birds-eye.default{
	background: url("./img/map.jpg");
	background-repeat: no-repeat;
    width: 100%;
}

#birds-eye.montreal{
	background: url("./img/montreal.jpg");
	background-repeat: no-repeat;
    width: 100%;
}

#birds-eye.montmelo{
	background: url("./img/montmelo.jpg");
	background-repeat: no-repeat;
    width: 100%;
}

#birds-eye.nbg{
	background: url("./img/nbg.jpg");
	background-repeat: no-repeat;
    width: 100%;
}
