
#right{
  padding-left:1px;
  padding-top:5px;
  background-color: #ddd;
}

time{
    margin-left: 10px;
}

#visual_buttons{
  margin-left: inherit;
}

.navigation-bar{
    width: 100%;
    height: 30px;
    background-color: white;
    margin-bottom: 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.navigation-bar .header{
    padding-top: 2px;
    padding-left: 0px;
}

.logo{
    display: inline-block;
    vertical-align: top;
    height: 80%;
    margin-right: 2%;
    padding-top: 2px;
}

#Control_HD{
    text-align: center;
  align-items: center;
  display: inline-block;
  margin-bottom: 30px;
  vertical-align:middle;
    text-align:center;  
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: repeat(14, 1fr);
    grid-template-columns: repeat(14, 1fr);
    width: 100%;
    margin: 15px auto;  
    margin-left: 80px; 
}
.btn_img{
    height: 25px;
}
img{
    height: 25px;
}

#code-menu
{
    width: 200px;
    margin: 22px 0 22px 0;
}

#Live_Infer{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right:10px;
    width: auto;
}

#Video_Infer{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right:10px;
    width: auto;
}

#stop{
   font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right:10px;
    width: auto;


}

#benchmark{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right: 10px;
    width: auto;
}

#visualizer{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right: 10px;
    width: auto;
}

#Live_Infer:hover, #stop:hover, #benchmark:hover, #visualizer:hover, #Video_Infer:hover, #console_button:hover{
    border: 1.5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

#console_btn{
    font-size: 10px;
    width: 80px;
    height: 45px;
    border:2px solid black;
    background-color: white;
    margin-left: 10px;

}

#console_btn:hover{
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    -webkit-border-image: -webkit-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    border-image: linear-gradient(to bottom, whitesmoke 0%,  #000 100%);
    border-image-slice: 1;
}

#terminalimg {
    float: left;
    height: 20px;
    margin-left: 10px;
}

th, td{
    padding-left: 10px;
}
#frecuency_control{
  margin-left: 5%;
}

.debug{
 padding-left: 7%;
}

.inline_div
{
  display: inline;
}

#video_file
{
  width: 231px;
}

#dl_model
{
  width: 231px;
}

.div-flex
{
  display: flex;
}

#model-upload
{
    margin: 22px 0 22px 0;
}

#video-upload {
  display: none;
  margin: 22px 0 22px 0;
}

#Live_Infer {
  display: none;
}

#Video_Infer {
  display: none;
}

#visualizer {
  display: none;
}

#stop{
  display: none;
}

#benchmark {
  display: none;
}

.margin-22
{
  margin: 22px 10px 22px 0;
}

#letters{
  margin-top: 8px;
  margin-right:10px;
  width: 80px;
  height: 40px;
}

#real_time_factor{
  margin-top:8px;
  width: 20px;
  height: 40px;
}

input[type=number]{
  width: 40px;
  background-color: whitesmoke;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}     

#code_freq, #gui_freq, #sim_rtf{
  height: 40px;
  border:none;      
}

#table_code_freq, #table_gui_freq{
  height:40px;
  width:210px;
  margin-right:30px;
}

#ideal_code_frequency, #code_frequency{
  display:inline-block;
  margin-right:10px;
  white-space: pre-wrap;
}

#Medidor_Brain{
  width:210px;
  height:42px;
  background-color: whitesmoke;
  margin-right:10px;
  margin-left:30px;
}

#Medidor_GUI{
  width:210px;
  height:42px;
  background-color: whitesmoke;
  margin-right:50px;
}

#Medidor_RTF{
  width:100px;
  height:42px;
  background-color: whitesmoke;
  margin-right:10px;
}
