{% extends "exercise_base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

  <div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/Drones/drone_gymkhana" id="iframe-tab"></iframe>
  </div>


        <div class="content" id="exercise-view">
            <div class="split a">

	<br>
            {% if "code_control" in indexs %}
                {% include 'code_control.html' %}
            {% endif %}

  </div>
            <div class="split b">

                {% if "visualization" in indexs %}
                    <div id="visual">
                        <!-- Canvas -->
                        <canvas id="gui_canvas_left"></canvas>
                        <canvas id="gui_canvas_right"></canvas>
                    </div>

                {% endif %}

				 <br>
				  {% if "gazebo" in indexs %}
                {% include 'gazebo.html' %}
            {% endif %}

			   <iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>


                {% if "console" in indexs %}
                    {% include 'console.html' with exercise="drone_gymkhana" %}
                {% endif %}



        <script src="https://unpkg.com/split.js/dist/split.min.js"></script>


 <!-- Common -->
       <script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>	
	   <script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/js/launcher_drones.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/js/controller_drones.js' %}" type="text/javascript" charset="utf-8"></script>
       <script src="{% static 'common/js/ws_gui_drones.js' %}" type="text/javascript" charset="utf-8"></script>
	   <script src="{% static 'common/js/ws_code_drones.js' %}" type="text/javascript" charset="utf-8"></script>
       <!-- Exercise specific resources -->	   



    <!-- BOTON DE CONEXION CON RADI-->
    {% if "connect_button" in indexs %}
        {% include 'connect_button.html' %}
    {% endif %}

    {% if user_code|length > 0 %}

    <script type="text/javascript">
		code = "{{user_code}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=");
		console.log(code);
        editor.setValue(code)
    </script>

    {% endif %}

    </div>
        </div>
{% endblock %}
