{% extends exercise_base %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% block content %}


<div id="theory-view" style="display: none;">
	<iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/AutonomousCars/car_junction" id="iframe-tab"></iframe>
</div>

<div class="content" id="exercise-view">
	<div class="split a">
    <br>
		{% if "code_control" in indexs %}
				{% include 'code_control.html' %}
		{% endif %}
  </div>

  <div class="split b">
		<div class="row" id="visual">
			<canvas id="gui_canvas"></canvas>
		</div>

		{% if "gazebo" in indexs %}
	    {% include 'gazebo.html' %}
	  {% endif %}

    <div class="row">
        <div class="col-md-12">
            <iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>
        </div>
    </div>

		{% if "console" in indexs %}
			{% include 'console.html' with exercise="car_junction" %}
		{% endif %}
	</div>

     {% if exercise_base == "exercise_base_2_U.html" %}
                    <!-- codigo unibotics unicamente -->
                    <!-- Common -->
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/utils.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/setIframe.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/ace-builds/src-noconflict/ace.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/ws_data.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/ws_code.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/launcher.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/controller.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'unibotics-exercises/static/assets/common/js/local_functions.js' %}?v={{version}}" type="text/javascript" charset="utf-8"></script>

                     <script>
                        var csrf = '{{ csrf_token }}';
                        function intervalSave(verbose = true) {
                            saveCodeUnibotics('{{exercise}}', verbose);
                        }
                        var saving = setInterval(intervalSave, 300000);
                    </script>

                    {% for file in statics %}

                        <script src="{% static 'unibotics-exercises/static/assets/exercises/'%}{{ exercise_id }}/js/{{ file }}" type="text/javascript" charset="utf-8"></script>

                    {% endfor %}

     {% else %}
                    <!-- codigo robotics unicamente -->
                    	<!-- Common -->
                    <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/ws_code.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/controller.js' %}" type="text/javascript" charset="utf-8"></script>
                    <script src="{% static 'common/js/launcher.js' %}" type="text/javascript" charset="utf-8"></script>
                    <!-- Exercise specific resources -->
                    {% for file in statics %}
                            <script src="{% static 'exercises/'%}car_junction/js/{{ file }}" type="text/javascript" charset="utf-8"></script>
                    {% endfor %}
     {% endif %}


  <!-- BOTON DE CONEXION CON RADI-->
	{% if "connect_button" in indexs %}
		 {% include 'connect_button.html' %}
	{% endif %}

  {% if user_code|length > 0%}
	  <script type="text/javascript">
	      code = "{{user_code}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/, ">").replace(/&lt;/, "<")
	      console.log(code);
	      editorele.setValue(code)
	  </script>
  {% endif %}
</div>
{% endblock %}
