{% extends "exercise_base.html" %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% block content %}

    <div id="theory-view" style="display: none;">
        <iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/AutonomousCars/{{ exercise_id }}" id="iframe-tab"></iframe>
    </div>

    <div class="content" id="exercise-view">
        <div class="split a">
            <br>
            {% if "code_control" in indexs %}
                {% include 'code_control.html' %}
            {% endif %}
        </div>
        <div class="split b">
            {% if "visualization" in indexs %}
                {% include 'visualization.html' %}
            {% endif %}
            <br>
            {% if "gazebo" in indexs %}
                {% include 'gazebo.html' %}
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <iframe id="console-vnc" style="display:none;" src="" width="100%" height="100%"></iframe>
                </div>
            </div>
            {% if "console" in indexs %}
                {% include 'console.html' with exercise="obstacle_avoidance" %}
            {% endif %}

    <!-- Common -->
    <script src="{% static 'common/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/utils.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/setIframe.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/local_functions.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- Exercise specific resources -->
    {% for file in statics %}
        <script src="{% static 'exercises/'%}{{ exercise_id }}/js/}{{ file }}" type="text/javascript" charset="utf-8"></script>
    {% endfor %}
    <!-- BOTON DE CONEXION CON RADI-->
    {% if "connect_button" in indexs %}
        {% include 'connect_button.html' %}
    {% endif %}

    {% if user_code|length > 0%}

    <script type="text/javascript">
        code = "{{user_code}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;lt;/g, "<").replace(/&amp;ge;/g, ">=").replace(/&amp;le;/g, "<=").replace(/&le;/g, "<=").replace(/&ge;/g, ">=");

        console.log(code);
        editorele.setValue(code)
    </script>
    {% endif %}

    </div>

    </div>

{% endblock %}
