{% extends "exercise_base_2.html" %}
{% load static %}
<!-- Cargamos los archivos estaticos -->
{% block content %}

<div id="Control_HD" class="container">
  <button id="Live_Infer" type="button" onclick="LiveInfer()"><img class='img-40' src="{% static 'common/img/webcam_logo.jpg' %}"> Live</button>
  <button id="Video_Infer" type="button" onclick="VideoInfer()"><img class='img-40' src="{% static 'common/img/submit.png' %}"> Video</button>
  <button id="benchmark" type="button" onclick="benchmarkModel()"><img class='img-40' src="{% static 'common/img/benchmark_icon.jpg' %}"> Benchmark</button>
  <button id="visualizer" type="button" onclick="visualizeModel()"><img class='img-40' src="{% static 'common/img/netron_icon.png' %}"> Visualize</button>
  <button id="stop_code" type="button" onclick="stopCode()"><img class='img-40' src="{% static 'common/img/pause.png' %}"> Stop</button>
  <input type="file" id="real-file" hidden="hidden" />
</div>

<div id="theory-view" style="display: none;">
  <iframe src="https://jderobot.github.io/RoboticsAcademy/exercises/ComputerVision/{{ exercise_id }}" id="iframe-tab"></iframe>
</div>

<div class="content" id="exercise-view">
  <div class="split a" style="width: calc(50% - 1.5px);">

    <div id="code-control">

      <div class="d-flex flex-column justify-content-center p-5">
        <div class="d-flex">
          <label for="code-menu" class="margin-22">Choose a mode: </label>
          <select id='code-menu'>
            <option>Select</option>
            <option value='live'>Live Inference</option>
            <option value='video'>Video Inference</option>
            <option value='bench'>Model Benchmarking</option>
            <option value='visual'>Model Visualization</option>
          </select>
        </div>

        <div id="code-control">
          <!-- Button for selecting DL model -->
          <div class="div-flex" id="model-upload">
            <div id="file_selector" class="inline-div">
              <input class="button-style" type="file" id="dl_model" name="dl_model" accept=".onnx">
            </div>
            <div class="inline-div">
              <button id="Upload" type="button" onclick="Upload_Model()"> Upload Model</button>
            </div>
          </div>

          <div class="div-flex" id="video-upload">
            <div id="video_selector" class="inline-div">
              <input class="button-style" type="file" id="video_file" name="video_file" accept="video/*">
            </div>
            <div class="inline-div">
              <button id="Upload" type="button" onclick="Upload_Video()"> Upload Video</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="split b" style="width: calc(50% - 1.5px);">
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p><b>Errors detected:</b></p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="white-space: pre-wrap;">
            <p style="word-wrap: break-word;"></p>
          </div>
        </div>
      </div>
    </div>

    <div id="visual">
      <!-- Canvas -->
      <h3 style="text-align:center" id="output_heading"></h3>
      <canvas id="gui_canvas_HD"></canvas>
    </div>

    <iframe id="console" style="display:none;" src="" width="100%" height="50%"></iframe>

    <script type="text/javascript">
      function changeconsole() {
        document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
        var console_display = document.getElementById('console').style.display;
        console.log(console_display);
        if (console_display == "none" || console_display == "none") {
          document.getElementById('console').style.display = 'block';
        } else {
          document.getElementById('console').style.display = 'none';
        }
      }
    </script>
  </div>


  <script type="text/javascript">
    function changeconsole() {
      document.getElementById("console").setAttribute("src", "http://" + websocket_address + ":1108/vnc.html?resize=remote&autoconnect=true");
      var console_display = document.getElementById('console').style.display;
      console.log(console_display);
      if (console_display == "none" || console_display == "none") {
        document.getElementById('console').style.display = 'block';
      } else {
        document.getElementById('console').style.display = 'none';
      }
    }

    function start() {
      submitCode();
    }
  </script>

  <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
  <script>
    var exercise = "human_detection";

    Split(['.a', '.b'], {
      gutterSize: 3,
      sizes: [50, 50]
    });
    window.addEventListener('load', function() {
      window.top.postMessage('connect', '*');
    });
  </script>

  <!-- Common -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src='https://huningxin.github.io/opencv.js/build/asm.js/opencv.js' async></script>
  <script src="{% static 'common/js/websocket_address.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'common/js/launcher_no_gazebo.js' %}" type="text/javascript" charset="utf-8"></script>
  <!-- Exercise specific resources -->
  {% for file in statics %}
  <script src="{% static 'exercises/'%}human_detection/js/{{ file }}" type="text/javascript" charset="utf-8"></script>
  {% endfor %}

  <!-- BOTON DE CONEXION CON RADI-->
  {% if "connect_button" in indexs %}
    {% include 'connect_button.html' %}
  {% endif %}
</div>

{% endblock %}
