#canvas_container{
	float: left;
	width: 30%;
	height: 575px;
}

#gui_canvas {
	margin-left: 20%;
    height: 300px;
    width: 80%;
}

#gzweb{
	height: 40%;
	width:100%;
}

#lap_heading{
	padding-left: 10%;
}

#lap_time{
	padding-left: 10%;
}
