#canvas_container{
    float: left;
    width: 50%;
    height: 500px;
}

#gui_canvas {
    height: 350px;
    width: 400px;
}


#gzweb{
    height: 40%;
    width:100%;
}

#lap_heading{
    padding-left: 10%;
}

#lap_time{
    padding-left: 10%;
}

#birds-eye{
    background: url("./img/map.jpg");
    height: 350px;
    width: 340px;
}
