
#right{
  padding-left:1px;
  padding-top:5px;
  background-color: #ddd;
}

time{
    margin-left: 10px;
}

#visual_buttons{
  margin-left: inherit;
}

#editor{
    border: 1px solid lightgray;
    height: 500px;
    width: 95%;

}

.navigation-bar{
    width: 100%;
    height: 30px;
    background-color: white;
    margin-bottom: 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.navigation-bar .header{
    padding-top: 2px;
    padding-left: 0px;
}

.logo{
    display: inline-block;
    vertical-align: top;
    height: 80%;
    margin-right: 2%;
    padding-top: 2px;
}

#Control{
  text-align: center;
  align-items: center;
  display: inline-block;
  margin-bottom: 30px;
}
.btn_img{
    height: 25px;
}
img{
    height: 25px;
}

#submit{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

#stop{
   font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
margin-bottom: 10px;

}

#save{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

#load{
  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;

}

#reset{

  font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
margin-bottom: 10px;

}

#connection{
  font-size: 12px;
    width: 100px;
    height: 40px;
    background-color: lightcoral;
margin-bottom: 10px;
}

#reset:hover, #submit:hover, #load:hover, #stop:hover, #save:hover{
    border: 1.5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

#gzweb_btn{
    margin-left: 10%;
    width: 80px;
    height: 45px;
    border:1 solid whitesmoke;
    background-color: white;
}

#gzweb_btn:hover{
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    -webkit-border-image: -webkit-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    border-image: linear-gradient(to bottom, whitesmoke 0%,  #000 100%);
    border-image-slice: 1;
}

#console_btn{
    font-size: 10px;
    width: 80px;
    height: 45px;
    border:2px solid black;
    background-color: white;
    margin-left: 10px;

}

#console_btn:hover{
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    -webkit-border-image: -webkit-linear-gradient(bottom, whitesmoke 0%, #000 100%);
    border-image: linear-gradient(to bottom, whitesmoke 0%,  #000 100%);
    border-image-slice: 1;
}

#terminalimg {
    float: left;
    height: 20px;
    margin-left: 10px;
}

#gzimg{
    height: 40px;
}

#iframeGzweb{
    display:none;
}
#iframe{
    display:none;
}

th, td{
    padding-left: 10px;
}
#frecuency_control{
  margin-left: 5%;
}

.debug{
 padding-left: 7%;
}
